/pandeia_docs
.nfs*

# old stuff that I'll keep locally
/figures/old
/notebooks/old
/scripts/old

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode

# PyCharm
.idea

# Python cache
__pycache__

# Mac
.DS_Store