/archive
/dumpster
/mejiro/data/cached_psfs
/mejiro/data/cached_skypy_configs*
/pandeia_docs
.nfs*
# config/config.yaml

# pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode

# PyCharm
.idea

# Python cache
__pycache__

# Mac
.DS_Store