/pandeia_docs
/roman_tools
# /notebooks/build
/notebooks/old
# /notebooks/test
scripts/old
/config

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode

# PyCharm
.idea

# Python cache
__pycache__

# Mac
.DS_Store