alabaster==0.7.16
anyio==4.9.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asdf==3.5.0
asdf-astropy==0.7.1
asdf_coordinates_schemas==0.4.0
asdf_standard==1.3.0
asdf_transform_schemas==0.6.0
asdf_wcs_schemas==0.4.0
astropy==6.1.7
astropy-iers-data==0.2025.6.9.0.39.3
astroquery==0.4.10
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
Brotli==1.1.0
build==1.3.0
cached-property==1.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
colossus==1.3.3
comm==0.2.2
configparser==7.2.0
contourpy==1.3.2
corner==2.2.2
crds==12.1.10
cryptography==45.0.4
cycler==0.12.1
Cython==3.1.2
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
docutils==0.18.1
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.0
extinction==0.4.7
fastjsonschema==2.21.1
filelock==3.18.0
fonttools==4.58.2
fqdn==1.5.1
future==1.0.0
GalSim==2.5.1
gwcs==0.24.0
h11==0.16.0
h2==4.2.0
h5py==3.14.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
imageio==2.37.0
imagesize==1.4.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.6.2
jax-cuda12-pjrt==0.6.2
jax-cuda12-plugin==0.6.2
jaxlib==0.6.2
jaxtronomy==0.1.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter_client==8.6.3
jupyter-console==6.6.3
jupyter_core==5.8.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keyring==25.6.0
kiwisolver==1.4.8
lazy_loader==0.4
lenstronomy==1.13.2
llvmlite==0.44.0
looseversion==1.3.0
LSSTDESC.Coord==1.3.0
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mcfit==0.0.22
mistune==3.1.3
ml_dtypes==0.5.1
more-itertools==10.7.0
mpmath==1.3.0
multiprocess==0.70.18
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndcube==2.3.1
nest_asyncio==1.6.0
networkx==3.4.2
notebook==7.4.3
notebook_shim==0.2.4
numba==0.61.2
numexpr==2.11.0
numpy==1.26.4
# nvidia-cublas-cu12==12.9.1.4
# nvidia-cuda-cupti-cu12==12.9.79
# nvidia-cuda-nvcc-cu12==12.9.86
# nvidia-cuda-nvrtc-cu12==12.9.86
# nvidia-cuda-runtime-cu12==12.9.79
# nvidia-cudnn-cu12==9.13.0.50
# nvidia-cufft-cu12==11.4.1.4
# nvidia-cusolver-cu12==11.7.5.82
# nvidia-cusparse-cu12==12.5.10.65
# nvidia-nccl-cu12==2.28.3
# nvidia-nvjitlink-cu12==12.9.86
# nvidia-nvshmem-cu12==3.4.5
openpyxl==3.1.5
opt_einsum==3.4.0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandeia.engine==2025.5
pandocfilters==1.5.0
Parsley==1.3
parso==0.8.4
pexpect==4.9.0
photutils==2.0.2
pickleshare==0.7.5
pillow==11.2.1
pip==25.2
pkgutil_resolve_name==1.3.10
platformdirs==4.3.8
pluggy==1.6.0
poppy==1.1.2
prometheus_client==0.22.1
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==2.13.6
pybind11_global==2.13.6
pycparser==2.22
pyerfa==2.0.1.5
Pygments==2.19.1
pyhalo==1.4.3
pyparsing==3.2.3
pyproject_hooks==1.2.0
pysiaf==0.24.1
PySocks==1.7.1
pysynphot==2.0.0
pytest==8.4.0
pytest-astropy-header==0.2.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2025.2
pyvo==1.7
pyxdg==0.28
PyYAML==6.0.2
pyzmq==26.4.0
rad==0.22.0
referencing==0.36.2
requests==2.32.4
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
roman_datamodels==0.22.0
romanisim==0.7.0
rpds-py==0.25.1
schwimmbad==0.4.2
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==80.9.0
six==1.17.0
git+https://github.com/bryce-wedig/skypy.git@mejiro-v2.0.0
git+https://github.com/bryce-wedig/slsim.git@mejiro-v2.0.0
sncosmo==2.10.4
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.7
git+https://github.com/bryce-wedig/speclite.git@mejiro-v2.0.0
specutils==1.20.2
Sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack_data==0.6.3
stpsf==2.0.0
stsynphot==1.4.0
synphot==1.5.0
syotools==1.1.13
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.5.10
tinycss2==1.4.0
tomli==2.2.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
types-python-dateutil==2.9.0.20250516
typing_extensions==4.14.0
typing_utils==0.1.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.4.0
wcwidth==0.2.13
webbpsf==2.0.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
widgetsnbextension==4.0.14
zipp==3.23.0
zstandard==0.23.0
