alabaster==0.7.13
antlr4-python3-runtime==4.9.3
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1666191106763/work/dist
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1666850768662/work
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1668621474897/work
asciitree==0.3.3
asdf==3.1.0
asdf-astropy==0.5.0
asdf-coordinates-schemas==0.2.0
asdf-standard==1.0.3
asdf-transform-schemas==0.4.0
asdf-unit-schemas==0.1.0
asdf-wcs-schemas==0.3.0
astropy==5.3
astropy-healpix==1.0.2
astropy-iers-data==0.2024.2.26.0.28.55
astroquery==0.4.6
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1667325728359/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
autoflake==1.4
Babel==2.14.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
black==22.3.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
bokeh==3.4.1
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764671472/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2022.9.24
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1666754704913/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1666833854447/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666770137470/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1662587369221/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colossus==1.3.3
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1660952164778/work
contourpy==1.2.1
corner==2.2.2
crds==11.17.19
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1667422975230/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.37
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1666829662037/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1668542489383/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1666826309679/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
docutils==0.18.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
esutil @ file:///home/conda/feedstock_root/build_artifacts/esutil_1666944461341/work
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1668523704481/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
extinction==0.4.6
fasteners==0.19
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1663619548554/work/dist
filelock==3.13.1
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1667734568827/work/source/flit_core
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1666827107856/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1668082755814/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1666786049710/work
GalSim==2.5.1
gwcs==0.20.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1666830838702/work
hdf5plugin==4.3.0
healpy @ file:///home/conda/feedstock_root/build_artifacts/healpy_1667561877830/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
hydra-core==1.3.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1666836079982/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1663572338894/work
imagesize==1.4.1
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1666781969417/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1665204935269/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1655241617783/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1653754916420/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1662482321563/work
isort==4.3.21
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1667024629799/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1659959867326/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1667361745641/work
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1637233113583/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.6.3
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1668451283216/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1668623095912/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1668030830865/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1662157840858/work
jwst-backgrounds==1.2.0
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1667696730351/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1666805701884/work
lenstronomy==1.11.10
llvmlite==0.41.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
looseversion==1.3.0
LSSTDESC.Coord @ file:///home/conda/feedstock_root/build_artifacts/lsstdesc.coord-split_1666944466704/work
lxml==5.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1666770180095/work
matplotlib==3.9.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mcfit==0.0.21
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1657892024508/work
montage-wrapper==0.9.9
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1666110321141/work
mpi4py @ file:///home/conda/feedstock_root/build_artifacts/mpi4py_1667459939419/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1666932878376/work
munkres==1.1.4
mypy-extensions==1.0.0
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1667492839781/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1665125402713/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1668442474361/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1665426034066/work
ndcube==2.2.2
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1668678824560/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1667391556261/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1667565639349/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1667478401171/work
numba==0.58.1
numcodecs==0.12.1
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
numpydoc==1.6.0
omegaconf==2.3.0
openpyxl==3.1.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.5.1
pandeia.engine==2024.9.1
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
Parsley==1.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1660316728562/work
pathspec==0.12.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
photutils==1.10.0
-e git+https://github.com/laldoroty/phrosty.git@0280b38c317b99fb485c367a80ddc0d687130feb#egg=phrosty
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1666920557929/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1657729053205/work
pluggy==1.5.0
poppy==1.1.1
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1665692535292/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1667565496306/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1667885877572/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py==1.11.0
pybind11 @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1667264780434/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1667264780434/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyerfa @ file:///home/conda/feedstock_root/build_artifacts/pyerfa_1666820888199/work
pyFFTW==0.13.1
pyflakes==3.2.0
Pygments==2.17.2
pyhalo==1.2.1
Pylians==0.11
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.12.3
PyQt5-sip==12.13.0
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1667498686200/work
pysiaf==0.22.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857264958/work
pysynphot==2.0.0
pytest==8.2.2
pytest-astropy-header==0.2.2
pytest-runner @ file:///home/conda/feedstock_root/build_artifacts/pytest-runner_1646158889426/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1667391478166/work
pyvo @ file:///home/conda/feedstock_root/build_artifacts/pyvo_1664228312964/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1666837677715/work
pyxdg @ file:///home/conda/feedstock_root/build_artifacts/pyxdg_1654536799286/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772395347/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1666828497229/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1667404144336/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1667873092748/work
rad==0.19.0
regions==0.8
reproject==0.13.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
roman_datamodels==0.19.0
romanisim==0.5.0
schwimmbad @ file:///home/conda/feedstock_root/build_artifacts/schwimmbad_1667049480206/work
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1667117143644/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1666884865087/work
scipy==1.9.3
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1666848678066/work
semantic-version==2.10.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sep==1.2.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
skypy==0.5.3
-e git+https://github.com/LSST-strong-lensing/slsim.git@7ed0f7b53d4f23f583475e16c54a1a5a7edb68d6#egg=slsim
sncosmo==2.10.4
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snowballstemmer==2.2.0
soc-roman-tools==0.1.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
speclite==0.18
specutils==1.14.0
Sphinx==7.2.6
sphinx-rtd-theme==1.3.0rc1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1668260892666/work
stsynphot==1.1.0
synphot==1.1.1
tabulate==0.9.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1652790610172/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1665588749940/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1666788589303/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1666115969632/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1667239886688/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webbpsf==1.4.0
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1667568040382/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1662157836868/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1667615844904/work
xarray-einstats @ file:///home/conda/feedstock_root/build_artifacts/xarray-einstats_1655671011237/work
xyzservices==2024.6.0
zarr==2.17.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1666647772197/work
